pipeline/trigger_adb_job.json
{
	"name": "trigger_adb_job",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://adb-8655177164203606.6.azuredatabricks.net/api/2.1/jobs/list",
					"method": "GET",
					"headers": {
						"Authorization": "Bearer dapi71a88117a7dace36cd9cfb367f19fb5d"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "testVal",
					"value": {
						"value": "@{activity('Web1').output.jobs}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"testVal": {
				"type": "String",
				"defaultValue": "defaultVal"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-05-23T07:19:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}